* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    background-color :#181717;
    display: flex;
    justify-content: center;
    align-items: center;
}

fieldset {
    border-radius: 10px;
    border: none;
    padding: 20px;
    width: 500px;
    height: 500px;
}

fieldset .box_logo {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_logo #image_logo {
    width: 100px;
}

fieldset span {
    text-transform: uppercase;
    font-weight: 900;
    color: white;
    width: 100%;
    float: left;
    font-size: 12pt;
    margin: 0px 0px 10px 0px;
}

.box_inputs input[type=text] {
    width: 100%;
    padding: 20px;
    border: none;
    margin-bottom: 10px;
    border-radius: 2px;
}

.box_inputs input[type=submit] {
    cursor: pointer;
    width: 100%;
    border: none;
    padding: 20px;
    color: white;
    background-color: transparent;
    border: 1px solid #de8c00;
    text-transform: uppercase;
    border-radius: 2px;
    font-weight: 900;
    font-size: 12pt;
}

.box_inputs input[type=submit]:hover {
    background-color: #de8c00;
    transition: all 0.3s ease;
}

.box_inputs input[type=text]:focus {
    outline: none;
}

fieldset h2 {
    margin: 50px 0px 5px 0px;
    color: white;
    text-transform: uppercase;
    font-size: 12pt;
}

.box_resultado {
    margin: 0px 0px 20px 0px;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 2px;
}

.box_resultado #resultado {
    color: grey;
    width: 100%;
}

fieldset#box_conversor {
    background-color: black;
}

@media screen and (max-width: 1000px) {

    fieldset {
        width: 100%;
        height: 100%;
        margin: 50% auto;
        display: block;
    }

    fieldset .box {
        margin: 30% auto;
    }
}